<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-info">
      <a class="navbar-brand" href="/urls" style="font-weight: bold;">QUIZ<span style="font-size:1.5em;">?</span>APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My Quizes</a>
          <a class="nav-item nav-link" href="/urls/new">New Quiz</a>
        </div>
      </div>
      <a class="nav-item nav-link" href="/login" style="padding: 1em; color:azure;">Login</a>
        <a class="nav-item nav-link" href="/register" style=" color:azure">Register</a>
    </nav>
  </header>